# Differences among older women by age in poverty risk for 2013

## Setup

In [1]:
from __future__ import unicode_literals, print_function, division

In [2]:
import os

In [3]:
import numpy as np
import pandas as pd

import plotly.plotly as py
from plotly.graph_objs import *
import plotly.tools as tls

/Users/gauden/anaconda/lib/python2.7/site-packages/pytz/__init__.py:29: UserWarning: Module argparse was already imported from /Users/gauden/anaconda/lib/python2.7/argparse.pyc, but /Users/gauden/anaconda/lib/python2.7/site-packages is being added to sys.path
  from pkg_resources import resource_stream

## Specific Configuration

In [4]:
DATA_DIR = os.path.join('.', 'data')
RAW_FILE = os.path.join(DATA_DIR, 'raw_data_20150701.xlsx')

In [5]:
title = 'Risk of Poverty Among Older Women'
subtitle = '(People at risk of poverty or social exclusion by age, 2013)'
source = dict(label='NNN', 
              link='NNN',
              accessed='NNN')

X_LABEL = ''
Y_LABEL = ''

## Data Importation and Munging

In [6]:
SHEET = 'Figure38'

PARSE_COLS = 'A,B'

skiprows = 11
skip_footer = 120-48
df1 = pd.read_excel(RAW_FILE,
                   sheetname=SHEET,
                   parse_cols=PARSE_COLS,
                   skiprows=skiprows,
                   skip_footer=skip_footer)
df1.columns = ['country', 'age_65_74']

skiprows = 68
skip_footer = 120-105
df2 = pd.read_excel(RAW_FILE,
                   sheetname=SHEET,
                   parse_cols=PARSE_COLS,
                   skiprows=skiprows,
                   skip_footer=skip_footer)
df2.columns = ['country', 'age_75_plus']

DF = pd.merge(df1, df2)
DF

                country  age_65_74  age_75_plus
0                 EU-27       19.1         21.8
1                 EU-15       16.8         19.9
2   New Mem States (12)       28.5         30.1
3               Belgium       19.2         22.2
4              Bulgaria       59.8         64.8
5        Czech Republic       13.4         14.4
6               Denmark        9.3         17.7
7               Germany       19.5         16.7
8               Estonia       34.9         32.0
9               Ireland       15.3         12.5
10               Greece       20.8         28.1
11                Spain       15.8         14.4
12               France        9.4         13.4
13              Croatia       30.6         40.4
14                Italy       23.4         26.7
15               Cyprus       21.8         41.1
16               Latvia       39.9         39.7
17            Lithuania       31.7         41.0
18           Luxembourg        6.0         10.0
19              Hungary       23.8         20.1
20                Malta       21.7         20.0
21          Netherlands        5.2          8.4
22              Austria       18.7         18.5
23               Poland       25.2         19.9
24             Portugal       18.3         24.8
25              Romania       34.4         44.3
26             Slovenia       21.1         35.3
27             Slovakia       13.6         18.6
28              Finland       12.0         29.8
29               Sweden       12.6         33.2
30       United Kingdom       16.3         23.5
31              Iceland        3.9          5.1
32               Norway        6.0         27.2
33          Switzerland       26.4         41.8
34    TFYR of Macedonia       45.2         49.0
35               Serbia       37.0         41.9

## Plotting