# Opportunity for Early Development for Girls

## Setup

In [1]:
from __future__ import unicode_literals, print_function, division

In [2]:
import os

In [3]:
import pandas as pd

import plotly.plotly as py
from plotly.graph_objs import *
import plotly.tools as tls

/Users/gauden/anaconda/lib/python2.7/site-packages/pytz/__init__.py:29: UserWarning: Module argparse was already imported from /Users/gauden/anaconda/lib/python2.7/argparse.pyc, but /Users/gauden/anaconda/lib/python2.7/site-packages is being added to sys.path
  from pkg_resources import resource_stream

## Specific Configuration

In [4]:
DATA_DIR = os.path.join('.', 'data')
RAW_FILE = os.path.join(DATA_DIR, 'raw_data_20150701.xlsx')

In [9]:
SHEET = 'Figure15'

PARSE_COLS = 'A,B,D'
SKIPROWS = 3
SKIP_FOOTER = 63-50

title = 'Opportunity for Early Development for Girls'
subtitle = 'Pre-primary School Participation, 2009-2012 (most recent year)'
source = dict(label='UNICEF', 
              link='http://www.unicef.org/sowc2011/fullreport.php',
              accessed='25 April 2015')

X_LABEL = 'Precentage of official pre-primary school-aged children'
Y_LABEL = ''

## Data Importation and Munging

In [11]:
DF = pd.read_excel(RAW_FILE,
                   sheetname=SHEET,
                   parse_cols=PARSE_COLS,
                   skiprows=SKIPROWS,
                   skip_footer=SKIP_FOOTER)
DF.columns = ['Country', 'Female', 'Male']
DF

                 Country  Female  Male
0             Tajikistan       8    69
1   Bosnia & Herzegovina      16    44
2             Azerbaijan      25   104
3             Uzbekistan      25    25
4        TFYR Macedonia       29   104
5                 Turkey      30   119
6                Ireland      53    17
7             Kazakhstan      54    86
8                 Serbia      56    64
9                Armenia      60    79
10            Montenegro      60   104
11              Croatia       62   103
12               Albania      69    94
13               Finland      70    71
14             Lithuania      75   110
15                Cyprus      77   113
16                Poland      78    78
17               Romania      78    88
18                Greece      79    98
19   Republic of Moldova      79    52
20              Bulgaria      85   104
21              Portugal      85    99
22       United Kingdom       85    54
23               Hungary      87    93
24            Luxembourg      89    77
25    Russian Federation      90    88
26              Slovakia      90   118
27               Estonia      91    62
28           Netherlands      91    91
29                Latvia      92    99
30              Slovenia      93    78
31                Sweden      95    87
32               Iceland      96    80
33                 Italy      97    77
34                Norway      99    92
35               Denmark     100   106
36           Switzerland     100    56
37               Ukraine     100    92
38              Belarus      101    95
39        Czech Republic     101   128
40               Austria     103    95
41                Israel     103    99
42            San Marino     108    10
43                France     109    28
44              Germany      112    31
45                 Malta     113   103
46               Belgium     118    84
47                 Spain     127    25

## Plotting